keystore=/Users/cmort/xmldap_files/xmldap_org.jks
keystore-password=password
key-name=xmldap
key-password=password
mex-file=/Users/cmort/xmldap_files/mex.xml
domain=xmldap.org
# image-file is the path to an image file, which is used as a card image
# The mime type must be image/png.
# image-file=/usr/local/share/xmldap_sts/milo.png
