keystore=/Users/cmort/xmldap_files/xmldap_org.jks
keystore.password=password
key.name=xmldap
key.password=password
mex.file=/WEB-INF/mex.xml
mexself.file=/WEB-INF/mex-self.xml
domain=xmldap.org
# image-file is the path to an image file, which is used as a card image
# The mime type must be image/png.
# image-file=/usr/local/share/xmldap_sts/milo.png
privacyStatement.text/plain=/WEB-INF/privacy.txt
privacyStatement.text/html=/WEB-INF/privacy.html
privacyStatement.text/pdf=/WEB-INF/privacy.pdf
