<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	
	
	 <servlet>
        <servlet-name>MexServlet</servlet-name>
        <display-name>MexServlet</display-name>
        <description>MexServlet</description>
        <servlet-class>com.awl.rd.fc2.servlets.sts.MexServlet</servlet-class>
        <init-param>
            <param-name>keystore</param-name>
            <param-value>@keystore@</param-value>
        </init-param>
        <init-param>
            <param-name>keystore-password</param-name>
            <param-value>@keystore-password@</param-value>
        </init-param>
        <init-param>
            <param-name>key</param-name>
            <param-value>@key@</param-value>
        </init-param>
        <init-param>
            <param-name>key-password</param-name>
            <param-value>@key-password@</param-value>
        </init-param>
        <init-param>
            <param-name>mex-file</param-name>
            <param-value>@mex-file@</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>STSServlet</servlet-name>
        <display-name>STSServlet</display-name>
        <description>STSServlet</description>
        <servlet-class>com.awl.rd.fc2.servlets.sts.STSServlet</servlet-class>
        <init-param>
            <param-name>keystore</param-name>
            <param-value>@keystore@</param-value>
        </init-param>
        <init-param>
            <param-name>keystore-password</param-name>
            <param-value>@keystore-password@</param-value>
        </init-param>
        <init-param>
            <param-name>key</param-name>
            <param-value>@key@</param-value>
        </init-param>
        <init-param>
            <param-name>key-password</param-name>
            <param-value>@key-password@</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Card</servlet-name>
        <display-name>Card</display-name>
        <description>Card</description>
        <servlet-class>org.xmldap.sts.servlet.CardServlet</servlet-class>
        <init-param>
            <param-name>keystore</param-name>
            <param-value>@keystore@</param-value>
        </init-param>
        <init-param>
            <param-name>keystore-password</param-name>
            <param-value>@keystore-password@</param-value>
        </init-param>
        <init-param>
            <param-name>key</param-name>
            <param-value>@key@</param-value>
        </init-param>
        <init-param>
            <param-name>key-password</param-name>
            <param-value>@key-password@</param-value>
        </init-param>
        <init-param>
            <param-name>domain</param-name>
            <param-value>@domain@</param-value>
        </init-param>
        <init-param>
            <param-name>image-file</param-name>
            <param-value>@image-file@</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Decrypt</servlet-name>
        <display-name>Decrypt</display-name>
        <description>Decrypt a Cardspace Backup</description>
        <servlet-class>org.xmldap.sts.servlet.DecryptCardspaceBackupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backup</servlet-name>
        <display-name>Backup</display-name>
        <description>Download a Cardspace Backup</description>
        <servlet-class>org.xmldap.sts.servlet.BackupServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>GetCRD</servlet-name>
    	<display-name>GetCRD</display-name>
    	<description></description>
    	<servlet-class>
    	com.utils.servlet.GetCRD</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CreateAccountServlet</servlet-name>
    	<display-name>CreateAccountServlet</display-name>
    	<description></description>
    	<servlet-class>com.utils.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MexServlet</servlet-name>
        <url-pattern>/mex/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STSServlet</servlet-name>
        <url-pattern>/tokenservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Card</servlet-name>
        <url-pattern>/card/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decrypt</servlet-name>
        <url-pattern>/decrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backup</servlet-name>
        <url-pattern>/backup/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetCRD</servlet-name>
    	<url-pattern>/getCRD/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CreateAccountServlet</servlet-name>
    	<url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
</web-app>
