#mainbar{background-color:#475059; min-height:72px; max-height:72px; min-width:800px; border: 5px solid white;}

#listarea{min-width:800px;background-color:#a6a6a6; min-height: 155px; max-height: 155px;  border-left: 5px solid white;border-right: 5px solid white;}
#cardselection{min-width:790px;background-color:#a6a6a6; min-height: 155px; max-height: 155px;  border-left: 5px solid white;border-right: 5px solid white;}
#instructarea{border-top:5px solid white;background-color:#475059; min-height: 40px; max-height: 40px; border-left: 5px solid white;border-right: 5px solid white;}
#editarea{align:left; padding:10px;background-color:#475059;min-height: 250px;  max-height: 250px;  border-left: 5px solid white;border-right: 5px solid white;}
#controlarea{ padding: 5px; border-bottom:5px solid white;background-color:#475059; min-height: 40px; max-height: 40px; border-left: 5px solid white;border-right: 5px solid white;}
#controls{ min-width: 340px; }
#cardselection{ align:center; }
#managedClaims{ align:left; }
#selfassertedClaims{ align:left; }

.cardClass{background-color:#FFFFFF; min-height:110px; max-height:110px; min-width:215px; max-width:215px; border: 1px solid #475059;}

.contact{padding:8px;border-bottom:1px dashed lightblue;}
.contact:hover{background:none;background-color:#b7b7b7;}

#mainlabel{padding:5px;font-family:trebuchet ms,verdana,helvetica;font-weight:bold;font-size:3.6em;text-align:left; color: white;}
#select{font-family:trebuchet ms,verdana,helvetica;font-weight:bold;font-size:1.8em;text-align:right; color: white;}
.lblTitle{max-width:780px; crop:end; padding:10px; font-family:trebuchet ms,verdana,helvetica;font-weight:bold;font-size:2.0em;text-align:right; color: white;}
.lblText{font-family:trebuchet ms,verdana,helvetica;font-weight:bold;font-size:1.4em;text-align:right; color: white;}
.cardcontrols{font-family:trebuchet ms,verdana,helvetica;font-weight:bold;font-size:1.8em;text-align:right; color: white;}

#colText{width:100px;}
#colData{width:260px;}



