<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>RelyingPartyServlet</servlet-name>
        <display-name>RP Servlet</display-name>
        <description>Processes Infocard Posts</description>
        <servlet-class>org.xmldap.rp.servlet.RelyingPartyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RelyingPartyServlet</servlet-name>
        <url-pattern>/infocard</url-pattern>
    </servlet-mapping>
</web-app>