<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>MexServlet</servlet-name>
        <display-name>MexServlet</display-name>
        <description>MexServlet</description>
        <servlet-class>org.xmldap.sts.servlet.MexServlet</servlet-class>
        <init-param>
            <param-name>keystore</param-name>
            <param-value>/Users/cmort/xmldap_files/xmldap_org.jks</param-value>
        </init-param>
        <init-param>
            <param-name>keystore-password</param-name>
            <param-value>password</param-value>
        </init-param>
        <init-param>
            <param-name>key</param-name>
            <param-value>xmldap</param-value>
        </init-param>
        <init-param>
            <param-name>key</param-name>
            <param-value>xmldap</param-value>
        </init-param>
        <init-param>
            <param-name>key-password</param-name>
            <param-value>password</param-value>
        </init-param>
        <init-param>
            <param-name>mex-file</param-name>
            <param-value>/Users/cmort/xmldap_files/mex.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>STSServlet</servlet-name>
        <display-name>STSServlet</display-name>
        <description>STSServlet</description>
        <servlet-class>org.xmldap.sts.servlet.STSServlet</servlet-class>
        <init-param>
            <param-name>keystore</param-name>
            <param-value>/Users/cmort/xmldap_files/xmldap_org.jks</param-value>
        </init-param>
        <init-param>
            <param-name>keystore-password</param-name>
            <param-value>password</param-value>
        </init-param>
        <init-param>
            <param-name>key</param-name>
            <param-value>xmldap</param-value>
        </init-param>
        <init-param>
            <param-name>key</param-name>
            <param-value>xmldap</param-value>
        </init-param>
        <init-param>
            <param-name>key-password</param-name>
            <param-value>password</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Card</servlet-name>
        <display-name>Card</display-name>
        <description>Card</description>
        <servlet-class>org.xmldap.sts.servlet.CardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Decrypt</servlet-name>
        <display-name>Decrypt</display-name>
        <description>Decrypt a Cardspace Backup</description>
        <servlet-class>org.xmldap.sts.servlet.DecryptCardspaceBackupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MexServlet</servlet-name>
        <url-pattern>/mex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STSServlet</servlet-name>
        <url-pattern>/tokenservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Card</servlet-name>
        <url-pattern>/card/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decrypt</servlet-name>
        <url-pattern>/decrypt</url-pattern>
    </servlet-mapping>
</web-app>